
<div class="container-fluid px-4">

    <div class="card blog-card card-shadow-effect">
        <img class="card-image" alt="blog_image" src="https://img-cdn.pixlr.com/image-generator/history/65bb506dcb310754719cf81f/ede935de-1138-4f66-8ed7-44bd16efc709/medium.webp"/>
        
        <div class="card-body">
            
            <small class="text-primary text-center bg-light"> Design </small>
            <small class="text-info text-center bg-light ms-3"> Feature </small>
        <small class="text-success text-center bg-light ms-2"> Views - 100 </small>

        <h5>Lorem ipsum dolor sit , non.</h5>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum voluptates at,
            ullam delectus laboriosam sequi quaerat accusamus praesentium asperiores dolor!</p>
            
            <small class="text-warning text-center bg-light"> LAST UPDATED - SEP 26, 2023 </small>
        </div>
    </div>
</div>
