
<section class="featured-section">
    <div class="contianer-fuid">
        <div class="row">
            <div class="col-md-12 text-center mt-3">
                <h2 class="text-white"> Featured Posts</h2>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-lg-3 mt-1">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-3 col-lg-3 mt-1">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-3 col-lg-3 mt-1">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-3 col-lg-3 mt-1">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>

<section class="container mt-4">
    <div class="col-md-12 text-center">
        <h2 class="">Latest Post</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus qui voluptate aut eligendi quisquam dolorem iste cum, 
            repellendus fuga consequuntur?</p>
    </div>

    <div class="row">
        <div class="col-md-4 mt-1 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-1 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-1 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</section>


