
<section class="single-category-section">
    <div class="bgColor-theme">
        <div class="container py-4">
            <h2 class="text-white">Software Engineering</h2>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. At enim, dolor eum doloribus 
                quia voluptate esse corrupti cum officiis laborum.</p>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4 mb-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-4 mb-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-4 mb-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-4 mb-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-4 mb-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-4 mb-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
  
</section>
