@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div>
                <h4>Total Views count :  <span id="totalViewCounter"></span> </h4>
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <h4>Total User/Connection count :  <span id="totalUserCounter"></span> </h4>

            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/UserCount.js"></script>
