
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12 mb-2">
                        <img alt="blog details image" loading="lazy" width="100%"
                        src="https://images.pexels.com/photos/9542701/pexels-photo-9542701.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" />
                    </div>
                    <div>
                        <small class="text-primary text-center bg-light"> Design </small>
                        <small class="text-info text-center bg-light ms-3"> Feature </small>
                        <small class="text-success text-center bg-light ms-2"> Views - 100 </small>
                        <small class="text-warning text-center bg-light ms-2"> LATEST UPDATED - SEP 20, 2023  </small>

                        <h2 class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>

                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem tempora dolore aliquam fugiat 
                            soluta voluptate accusantium ex totam. Maxime excepturi, dignissimos harum nostrum tempora aperiam
                             temporibus! Accusantium, pariatur tempore enim dolor eius natus necessitatibus voluptate. Deserunt 
                             praesentium consequatur, alias quis omnis perspiciatis vero facere facilis odit. Quibusdam non, esse,
                              repudiandae obcaecati neque facilis dolor incidunt culpa, id eaque modi nulla placeat. Accusamus ea 
                              unde quidem quam quas illo veritatis quo fuga officiis, cupiditate excepturi! Nulla sequi a, eum earum 
                              repellendus pariatur aut laborum velit voluptatum asperiores exercitationem sint 
                            neque explicabo vero commodi doloribus veritatis error nemo necessitatibus officia expedita quis!
                               
                            <br /><br />
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem tempora dolore aliquam fugiat 
                            soluta voluptate accusantium ex totam. Maxime excepturi, dignissimos harum nostrum tempora aperiam
                             temporibus! Accusantium, pariatur tempore enim dolor eius natus necessitatibus voluptate. Deserunt 
                             praesentium consequatur, alias quis omnis perspiciatis vero facere facilis odit. Quibusdam non, esse,
                              repudiandae obcaecati neque facilis dolor incidunt culpa, id eaque modi nulla placeat. Accusamus ea 
                              unde quidem quam quas illo veritatis quo fuga officiis, cupiditate excepturi! Nulla sequi a, eum earum 
                              repellendus pariatur aut laborum velit voluptatum asperiores exercitationem sint 
                            neque explicabo vero commodi doloribus veritatis error nemo necessitatibus officia expedita quis!
                        </p>
                    </div>
                </div>
                <div>
                    <app-comment-form></app-comment-form>
                </div>
                <div class="mt-4">
                    <app-comment-list></app-comment-list>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12 mb-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-12 mb-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-12 mb-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-12 mb-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</div>