
<section class="mt-5">
    <div class="container my-5 p-5 pt-2 bgColor-theme">
        <h2 class="text-white text-center">About us</h2>
    <div class="p-4 mt-4 bg-secondary-theme">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta recusandae provident nisi impedit nihil molestiae illo nesciunt alias distinctio eos.</p>
    
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta recusandae provident nisi impedit nihil molestiae illo nesciunt alias distinctio eos.</p>
    
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta recusandae provident nisi impedit nihil molestiae illo nesciunt alias distinctio eos.</p>
    
        <div class="text-center">
            <button class="btn btn-info btn-block bgColor-theme text-white">Back To Home</button>
        </div>
    </div>

    </div>
</section>
