
<section class="comment-list-section">
    <div class="card shadow-lg">
        <div class="card-body">
            <div>
                <h4 class="text-success"> Comments (2500) </h4>
            </div>

            <div class="comment-box mt-3">
                <h6>Khageshor Giri</h6>
                <small class="text-danger">LAST UPDATE - SEP 24, 2023</small>
                
                <div class="py-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quo voluptatem aliquid?
                </div>

                <a class="mt-2" href="#">Reply</a>
                <a class="mt-2 ms-3" href="#">View Reply</a>
                <hr />
            </div>

            <div class="comment-box mt-3">
                <h6>Khageshor Giri</h6>
                <small class="text-danger">LAST UPDATE - SEP 24, 2023</small>
                
                <div class="py-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quo voluptatem aliquid?
                </div>

                <a class="mt-2" href="#">Reply</a>
                <a class="mt-2 ms-3" href="#">View Reply</a>
                <hr />
            </div>

            <div class="comment-box mt-3">
                <h6>Khageshor Giri</h6>
                <small class="text-danger">LAST UPDATE - SEP 24, 2023</small>
                
                <div class="py-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quo voluptatem aliquid?
                </div>

                <a class="mt-2" href="#">Reply</a>
                <a class="mt-2 ms-3" href="#">View Reply</a>
                <hr />
            </div>
        </div>
    </div>
</section>